<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%;">
  <div style="text-align: center;">
    <b>{{ data.message }}</b>
  </div>
  <mat-form-field appearance="outline" style="width: 100%;">
    <input matInput [(ngModel)]="data.code" style="text-align: center; font-size: 18px;" />
  </mat-form-field>
  <div fxLayout="column" fxLayoutAlign="center center">
    <app-custom-btn (click)="data.type === 'auth' ? verifyCode(): confirmDelete()" [disabled]="verifyStart"
      [btnHeight]="'50px'" [btnWidth]="'150px'" [text]="data.type === 'auth' ? 'Verify' : 'Confirm Delete'"
      [color]="'accent'" [isloading]="verifyStart" [type]="'button'">
    </app-custom-btn>
  </div>
</div>
