<table mat-table [dataSource]="dataSource" multiTemplateDataRows (click)="clicked($event)" class="mat-elevation-z8">
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description" style="width: 100%;">
          <div fxLayout="column" *ngIf="tableType == 'memberSchedule'">
            <div class="example-button-container">
              <button (click)="deleteSchedule(element)" mat-mini-fab color="warn"
                aria-label="Example icon button with a filter list icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button [matMenuTriggerFor]="appMenu" mat-flat-button color="accent">Actions</button>
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="actionBtn(actions, element)"
                  *ngFor="let actions of scheduleActions">{{actions.ScheduleStatus}} Schedule</button>
              </mat-menu>
            </div>
          </div>
          <div fxLayout="column" *ngIf="tableType == 'memberManagement'">
            <div fxLayout="row" fxLayoutGap="10px">
              <div *ngIf="element.roleInfo">
                <p>
                  <b>Roles</b><br /><span>
                    <mat-hint>Slide to activate or deactivate</mat-hint>
                  </span>
                </p>
                <div *ngFor="let role of element.roleInfo">
                  <div>
                    <span>
                      <mat-slide-toggle [checked]="role.isRoleActive"
                        (change)="togData($event, element.userId, role.roleId, 'Roles')"><b>{{ role.roleTitle }}</b>
                      </mat-slide-toggle>
                    </span>
                  </div>
                </div>
              </div>

              <div *ngIf="element.MemberId">
                <p>
                  <b>Notifications</b><br /><span>
                    <mat-hint>Activate/deactivate</mat-hint>
                  </span>
                </p>
                <div>
                  <span>
                    <mat-slide-toggle [checked]="element.AllowMemberToRecieveNotification"
                      (change)="togNotification(element)">
                      <b></b>
                    </mat-slide-toggle>
                  </span>
                </div>
              </div>
              <div>
                <p>
                  <b>Add/Remove from Transport Dept</b><br /><span>
                    <mat-hint>Slide to add or remove member</mat-hint>
                  </span>
                </p>
                <div>
                  <button mat-flat-button color="accent" style="margin-right: 5px; margin-bottom: 5px;"
                    (click)="togData({checked: true}, element.userId, null, 'Transport')">Add</button>
                  <button mat-flat-button color="warn"
                    (click)="togData({checked: false}, element.userId, null, 'Transport')">Delete Record</button>
                </div>
              </div>

              <form class="example-form" *ngIf="element.MemberId" [formGroup]="updateMemberForm"
                (ngSubmit)="onSubmit(updateMemberForm, element)">
                <p>
                  <b>Update Member Info</b><br /><span>
                  </span>
                </p>
                <p><b>Alt Phone: </b>{{element.AlternativeMobileContact}} <button mat-icon-button color="accent"
                    aria-label="Example icon-button with a heart icon" type="button"
                    (click)="editClicked('phone', element.AlternativeMobileContact)">
                    <mat-icon>edit</mat-icon>
                  </button> <br /> <span>
                    <b>Alt Email: </b>{{element.AlternativeEmailAddress}} <button mat-icon-button color="accent"
                      aria-label="Example icon-button with a heart icon"
                      (click)="editClicked('email', element.AlternativeEmailAddress)" type="button">
                      <mat-icon>edit</mat-icon>
                    </button></span></p>
                <div *ngIf="updated">
                  <mat-form-field *ngIf="editEmail" class="example-full-width" style="margin-right: 5px; width: 250px;">
                    <mat-label>Alternative Email</mat-label>
                    <input matInput formControlName="AlternativeEmailAddress" placeholder="Ex. pat@example.com">
                  </mat-form-field>
                  <mat-form-field *ngIf="editPhone" class="example-full-width">
                    <mat-label>Alternative Phone Number</mat-label>
                    <input matInput formControlName="AlternativeMobileContact">
                  </mat-form-field>
                  <button mat-mini-fab color="warn" type='submit' aria-label="Example icon-button with a heart icon">
                    <mat-icon>done_all</mat-icon>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
